h3 Results
table.table.table-striped
    thead
        tr 
            th Name
            th Title
            th ID
    tbody
        tr
            td= data.name
            td= data.title
            td= data.id