h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Champions by ID            
            input#ID.form-control(type='text', required='')                
    .col-md-4                         
        button.btn.btn-primary(onClick='champions.searchByName($("#ID").val())') Search

//h5 Favorite Champions
//ul
//    li
//        a(href="#" onClick='champions.searchByName(Talon)') Talon
//    li
//        a(href="#" onClick='champions.searchByName(Katarina)') Katarina

